{
  "RocketChatToken": "RocketChatToken",
  "RocketChatUserID": "RocketChatUserID",
  "WorkWechatCorpID": "WorkWechatCorpID",
  "WorkWechatCorpSecret": "WorkWechatCorpSecret",
  "PostmanToken": "PostmanToken"
}
